# gems
*.gem
Gemfile.lock
*.gemfile.lock
gems/

# local bin folder - binstubs
bin/

# local gem package folder
pkg/

# tests / test coverage
.jekyll-cache/
coverage/

# documentation
rdoc/

# bundler
.bundle/
vendor/bundle/
gemfiles/.bundle/
gemfiles/vendor/bundle/

# unsorted
